html, body {
    font-family: 'Oxygen', sans-serif;
    background-color: black;
}

.glyphicon {
    width: 37px;
    height: 17px;
}

.navbar {
    padding-top: 10px;
    background-color: transparent;
}

.navbar-brand {
    color: white !important;
    font-family: 'Pacifico', cursive;
    font-size: 26px;
}

#navbar ul a {
    opacity: 0.8;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

#navbar ul a:hover {
    background-color: transparent;
    opacity: 1;
}

.icon-bar {
    background-color: white !important;
}

.linkedin-nav-item {
    margin-top: -2px;
}

.linkedin-link {
    font-size: 24px;
}

#cover-container {
    width: 100%;
    height: 100vh;
}

#cover-container h1 {
    font-size: 80px;
}

#cover-container span {
    font-size: 22px;
}

#cover-container .glyphicon {
    font-size: 17px;
}

#cover-container .glyphicon {
    padding-left: 10px;
    padding-right: 10px;
}

#cover-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url(../img/rudy-lightning.jpg);
    background-position: 50% 50%;;
}

#cover-half-tone {
    background-color: #000000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.6;
}

#cover-text {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: white;
}

#cover-text span a {
    color: rgb(0, 200, 200);
}


@media (max-width: 768px) {
    .navbar {
        background-color: black;
        padding-bottom: 10px;
    }

    #navbar li {
        text-align: center;
    }

    #cover-text {
        top: 27%;
    }

    #cover-container h1 {
        font-size: 50px;
        margin-bottom: 30px;
    }

    #cover-container span {
        font-size: 19px;
        display: block;
        margin-bottom: 10px;
    }

    #cover-container .glyphicon {
        display: none;
    }
}